[theme~="dark"] {
    --lumo-primary-color: hsl(150, 90%, 45%);
    --lumo-primary-color-50pct: hsl(150, 90%, 45%, 0.5);
    --lumo-primary-color-10pct: hsl(150, 90%, 45%, 0.1);
}

[theme~="light"] {
    --lumo-primary-color: hsl(150, 90%, 45%);
    --lumo-primary-text-color: hsl(150, 90%, 45%);
    --lumo-primary-color-50pct: hsl(150, 90%, 45%, 0.5);
    --lumo-primary-color-10pct: hsl(150, 90%, 45%, 0.1);
}