target/
.vscode
.idea

# The following files are generated/updated by Hilla.
node_modules/
frontend/generated/
vite.generated.ts

# Contains secrets that shouldn’t go into the repository.
# For now it should be commited for testing purposes.
# config/secrets/

# Logging does not need to be in the repository.
logs/
