@import "../variables/variables.scss";

.profile-friend {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        .profile-friend-image {
            border: 3px solid $primary-color;
        }
    }

    &-name {
        width: 100px;
    }

    &-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    &-link {
        &:hover {
            text-decoration: none;
        }
    }
}
