.profile-settings-dialog {
    &-close-button, &-save-button {
        cursor: pointer;
    }

    &-close-icon {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
